*.ipynb_checkpoints/
2-python/Es_finale_magazzino.ipynb
2-python/Esercizi.ipynb
2-python/Esercizio_finale_listino.ipynb
3-numpy/GiuliaCosenzaFileOrganizer.zip
4-manipolazione_e_visualizzazione_dati/Esercizi.ipynb
